.Calculadora {
  width: 480px;
  height: auto;
  padding: 10px 0;
  margin: auto;
  background: #232323;
  border: #000 1px solid;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  overflow: hidden;
  text-align: center;
}
.Display {
  text-align: right;
  background-color: gainsboro;
  color: red;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  font-family: monospace;
}
.Butons,
.Numeros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
:is(.Butons, .Numeros) button {
  background: lightgoldenrodyellow;
  flex: 40%;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 10px;
}

.Butons {
  background-color: aquamarine;
}
.Butons button {
  background-color: aliceblue;
}
.Numeros button:hover {
  background-color: white;
}
.Numeros button:active {
  background-color: white;
}
.Numeros button active {
  background-color: gray;
}
