.Calculadora {
  margin: 0 auto;
  max-width: width 300px;
}
.Display {
  text-align: right;
  background-color: gainsboro;
  color: red;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  font-family: monospace;
}
.Butons,
.Numeros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
:is(.Butons, .Numeros) button {
  background: lightgoldenrodyellow;
  flex: 40%;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 10px;
}

.Butons {
  background-color: aquamarine;
}
.Butons button {
  background-color: aliceblue;
}
.Numeros button:hover {
  background-color: white;
}
.Numeros button:active {
  background-color: white;
}
.Numeros button active {
  background-color: gray;
}
